* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

body {
    background-color: #000;
}

#main {
    width: 30rem;
    height: 30rem;
    background: white;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 10px 15px rgba(#fff, #fff, #fff, 0.2),
        0 4px 6px rgba(#fff, #fff, #fff, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .search-box-container {
        text-align: center;
        margin-bottom: 1rem;

        #search-component {
            height: 2rem;
            width: 12rem;
            font-size: 16px;
            border-width: 0 0 1px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: center;
            letter-spacing: 1.5px;

            &:focus {
                outline: none;
            }
        }
    }

    .weather-component {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        -webkit-user-select: none;
        user-select: none;
        pointer-events: none;

        .weather-component__daily-weather {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 3;

            .daily-weather__city {
                > span {
                    font-size: 1.25rem;
                }
            }

            .daily-weather__temperature {
                > span {
                    font-size: 5rem;
                }
            }

            .daily-weather__daily-temperature {
                .daily-temperature__max {
                    margin-right: 0.5rem;
                }
            }
        }

        .weather-component__forecast {
            display: flex;
            justify-content: space-between;
            text-align: center;
            flex: 1;
            gap: 0.5rem;
            width: 100%;
            padding: 0 25px;

            .hourly-weather-component {
                .hourly-weather-component__icon {
                    margin: 5px 0;

                    > img {
                        width: 48px;
                        height: 52px;
                    }
                }
            }
        }
    }
}

.weather {
    &.clear-sky {
        background: linear-gradient(to top, #00c6ff, #0072ff);
    }

    &.few-clouds {
        background: linear-gradient(to top, #a1c4fd, #c2e9fb);
    }

    &.scattered-clouds {
        background: linear-gradient(to top, #d7d2cc, #304352);
    }

    &.broken-clouds {
        background: linear-gradient(to top, #4b79a1, #283e51);
    }

    &.shower-rain {
        background: linear-gradient(to top, #3a7bd5, #2b5876);
    }

    &.rain {
        background: linear-gradient(to top, #4b6cb7, #182848);
    }

    &.thunderstorm {
        background: linear-gradient(to top, #141e30, #243b55);
    }

    &.snow {
        background: linear-gradient(to top, #e6e9f0, #eef1f5);
    }

    &.mist {
        background: linear-gradient(to top, #606c88, #3f4c6b);
    }
}
